{{ form_start(form, { attr: { id: 'form_form' } }) }}
{{ form_row(form.car) }}
{{ form_row(form.maintenanceJob) }}
{{ form_row(form.timeSlot) }}
{% if form.maintenanceJob.vars.data == null %}
  <div id="priceTable">Select car and maintenance job first</div>
{% else %}
  <div id="priceTable">
    <table>
      <div>Maintenance job cost</div>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Hours</th>
          <th>Rate</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ form.maintenanceJob.vars.data.id }}</td>
          <td>{{ form.maintenanceJob.vars.data.name }}</td>
          <td>{{ form.maintenanceJob.vars.data.hours }}</td>
          {% if form.timeSlot.vars.data == 'Weekdays' %}
            <td>€ {{ form.maintenanceJob.vars.data.weekdayRate }} p/h</td>
            <td id="maintenanceJobPrice">€ {{ form.maintenanceJob.vars.data.weekdayRate * form.maintenanceJob.vars.data.hours }}</td>
          {% elseif form.timeSlot.vars.data == 'Weekends' %}
            <td>€ {{ form.maintenanceJob.vars.data.weekendRate }} p/h</td>
            <td id="maintenanceJobPrice">€ {{ form.maintenanceJob.vars.data.weekendRate * form.maintenanceJob.vars.data.hours }}</td>
          {% else %}
            <td>Select Time slot</td>
            <td>Select Time slot</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <table>
      <div>Spare Parts</div>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for sparePart in form.maintenanceJob.vars.data.spareParts %}
          <tr>
            <td>{{ sparePart.id }}</td>
            <td>{{ sparePart.name }}</td>
            <td class="sparePartsPrice">€{{ sparePart.price }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">No spare parts found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{{ form_rest(form) }}

{{ form_end(form) }}

{% block javascripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const maintenanceJobSelectEl = document.getElementById('scheduled_maintenance_job_maintenanceJob')
      const carSelectEl = document.getElementById('scheduled_maintenance_job_car')
      const timeSlotSelectEl = document.getElementById('scheduled_maintenance_job_timeSlot')
    
      const formContainer = document.getElementById('form_form')
    
      // Attach event listener to the parent element
      formContainer.addEventListener('change', function (event) {
        const targetId = event.target.id
    
        // Check which element triggered the event
        if (targetId === 'scheduled_maintenance_job_car') {
          // Handle change on 'scheduled_maintenance_job_car' element
          updateForm()
        } else if (targetId === 'scheduled_maintenance_job_maintenanceJob') {
          // Handle change on 'scheduled_maintenance_job_maintenanceJob' element
          updateForm()
        } else if (targetId === 'scheduled_maintenance_job_timeSlot') {
          // Handle change on 'scheduled_maintenance_job_timeSlot' element
          updateForm()
        }
      })
    
      function updateForm() {
        const formEl = document.querySelector('form')
    
        fetch(formEl.action, {
          method: formEl.method,
          body: new FormData(formEl)
        })
          .then((response) => response.text())
          .then((html) => {
            const parser = new DOMParser()
            const doc = parser.parseFromString(html, 'text/html')
    
            const newMaintenanceJobFormFieldEl = doc.getElementById('scheduled_maintenance_job_maintenanceJob')
            const newCarFormFieldEl = doc.getElementById('scheduled_maintenance_job_car')
            const newTimeSlotFormFieldEl = doc.getElementById('scheduled_maintenance_job_timeSlot')
            const priceTable = doc.getElementById('priceTable')
    
            document.getElementById('scheduled_maintenance_job_maintenanceJob').replaceWith(newMaintenanceJobFormFieldEl)
            document.getElementById('scheduled_maintenance_job_car').replaceWith(newCarFormFieldEl)
            document.getElementById('scheduled_maintenance_job_timeSlot').replaceWith(newTimeSlotFormFieldEl)
            document.getElementById('priceTable').replaceWith(priceTable)
    
            //Calculate price and update scheduled_maintenance_job_totalPrice input field
            calculatePriceValues()
    
            return
          })
          .catch(function (err) {
            console.warn('Something went wrong.', err)
          })
      }
    
      //Calculate price and update scheduled_maintenance_job price input fields
      function calculatePriceValues() {
        const maintenanceJobPrice = document.getElementById('maintenanceJobPrice').innerText
        const sparePartsPrice = document.getElementsByClassName('sparePartsPrice')
        let basePrice = 0
        for (let i = 0; i < sparePartsPrice.length; i++) {
          basePrice += parseFloat(sparePartsPrice[i].innerText.split('€')[1])
        }
        basePrice += parseFloat(maintenanceJobPrice.split('€')[1])
        document.getElementById('scheduled_maintenance_job_basePrice').value = basePrice
    
        let totalPrice = basePrice * 1.21
        let vatPrice = basePrice * 0.21
    
        document.getElementById('scheduled_maintenance_job_vatPrice').value = vatPrice.toFixed(2)
        document.getElementById('scheduled_maintenance_job_totalPrice').value = totalPrice.toFixed(2)
      }
    })
  </script>
{% endblock %}
